{%extends "PruebaBundle::layout.html.twig"%}
{% block body %}

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>

	{%for message in app.session.flashbag().get('status')%}
		<div class="alert alert-success">{{message}}</div>
	{%endfor%}

	<h2 class = "page-header"> Agrega Curso
		<a href="curso/add" class="btn btn-success"> AGREGAR</a>

	</h2>

	<table class="table table-striped">
		<caption>Cursos Registrados</caption>
			<thead> 
				<tr> 
					<th>#</th> 
					<th>Curso</th> 
					<th>Acción</th>
				<th></th> 
				</tr> 
			</thead> 
		<tbody>

			{% for cur in curso%}
				<tr>
				<th scope="row">{{cur.id}}</th> 
				<td>{{cur.curso}}</td>
				{%if personaCurso%}
					{% for per in personaCurso %}
						{%if cur.id!=per.curso.id%}
							<td>
								<a href="inscribir/{{cur.id}}/{{app.user.persona.id}}" class="btn btn-success"> Inscribir</a>
								<a href="edit/{{cur.id}}" class="btn btn-default"> Editar</a>
							</td>
						{%elseif cur.id==per.curso.id%}
							<td>
								<a href="edit/{{cur.id}}" class="btn btn-default"> Editar</a>
								<a href="delete/{{cur.id}}" class="btn btn-danger"> Retirar</a>
							</td>
						{%endif%}
					{% endfor %}
					</tr>
				{%else%}
					<td>
						<a href="inscribir/{{cur.id}}/{{app.user.persona.id}}" class="btn btn-success"> Inscribir</a>
						<a href="edit/{{cur.id}}" class="btn btn-default"> Editar</a>
					</td>
				{%endif%}
			{% endfor %}				
			
		</tbody> 
	</table>


{% endblock %}

