{%extends "PruebaBundle::layout.html.twig"%}
{% block body %}

	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	{%for message in app.session.flashbag().get('status')%}
		<div class="alert alert-success">{{message}}</div>
	{%endfor%}

	<h2 class = "page-header"> Agrega Curso
		<a href="curso/add" class="btn btn-success"> AGREGAR</a>

	</h2>

	<table class="table table-striped">
		<caption>Cursos Registrados</caption>
			<thead> 
				<tr> 
					<th>#</th> 
					<th>Curso</th> 
					<th>Acción</th>
				<th></th> 
				</tr> 
			</thead> 
		<tbody>
			{% for cur in curso%} 
			<tr>
				{%if personaCurso%} 
					{% for percur in personaCurso%}
						{%if cur.curso != percur.curso%} 
							<th scope="row">{{cur.id}}</th> 
							<td>{{cur.curso}}</td> 
							<td>
							<a href="inscribir/{{cur.id}}/{{app.user.persona.id}}" class="btn btn-success"> Inscribir</a>
							<a href="edit/{{cur.id}}" class="btn btn-default"> Editar</a>
							<a href="delete/{{cur.id}}" class="btn btn-danger"> Retirar</a>
							</td>
						{%else%}
							<th scope="row">{{cur.id}}</th> 
							<td>{{cur.curso}}</td> 
							<td>
							<a href="edit/{{cur.id}}" class="btn btn-default"> Editar</a>
							<a href="delete/{{cur.id}}" class="btn btn-danger"> Retirar</a>
							</td>
						{%endif%}
					{% endfor %}
				{%else%}
						<th scope="row">{{cur.id}}</th> 
						<td>{{cur.curso}}</td> 
						<td>
						<a href="inscribir/{{cur.id}}/{{app.user.persona.id}}" class="btn btn-success"> Inscribir</a>
						<a href="edit/{{cur.id}}" class="btn btn-default"> Editar</a>
						<a href="delete/{{cur.id}}" class="btn btn-danger"> Retirar</a>
						</td>
				{%endif%}
			</tr>
			{% endfor %}
		</tbody> 
	</table>
{% endblock %}

{% block extra_footer %}

    <script>

        var tipo = $('#{{seleccion}}');
        console.log(tipo);

        function set_filters() {

            if (tipo.val()!='' && anho_base.val()!='' && periodo_trimestre_ini.val()!='' && periodo_trimestre_fin.val()!='' && periodo_anho_ini.val()!='' && periodo_anho_fin.val()!=''){

                if (tipo.val() == 'DG'){

                    if (parseInt(periodo_anho_fin.val()) == parseInt(periodo_anho_ini.val()) && parseInt(periodo_trimestre_ini.val()) <= parseInt(periodo_trimestre_fin.val())){
                    
                        document.getElementById('oculto').style.display = 'block';
                    }

                }
                else{
                    //bootbox.alert('Verificar su selección');
                    document.getElementById('oculto').style.display = 'none';
                }
            }
        }

        /**
        * A medida que se realizan las selecciones voy modificando los filtros
        */
        $(document).ready(function() {
            tipo.on('change', function() {set_filters()});
        });
        
    </script>
{% endblock %}